extends ./layout.jade

block content
	div(id='main')
		div(class='container')
			h3 Test of signing in
			
			if loggedin
				p This is user name: #{username}
				p This is user e-mail: #{useremail}
				p This is user id: #{id}
				p This is the room name: #{roomname}
				p This is the room summary: #{roomsummary}

				form(role='form' method='get')
					button(type='submit' name='logoff' value='true') signoff
			
			h2 If this works, you are well on your way!

